Package: my-meta
Version: 0.1.13
Section: misc
Priority: extra
Architecture: all
Maintainer: Jakobus Schürz <xundeenergie@gmail.com>
Homepage: http://github.com/xundeenergie/my-meta
Provides: my-meta
Depends: mkbackup-btrfs, my-config, systemd-alt-cron, libreoffice-cups, network-manager-customsettings, my-services, cups-fuse, vim-gtk3, vim-addon-manager, pandoc, htop, atop, iotop, tree, abcde, chromium, anydesk, git, python3, unison, thunar, sshfs, curlftpfs, ntfs-3g, pavucontrol, unp, bzip2, unrar, xdms, p7zip-full, unzip, cabextract, unace-nonfree, ncdu, mlocate, lame, hwinfo, gpm
Recommends: 
Description: My configurations - Meta-Package
 Special configurations for this and that around in linux, for jakob schürz
